/* Typography and font size */
p {
  font-family: 'Krub', sans-serif;
  font-size: 18px;
  color: #0F2D51;
}
li {
  font-family: 'Krub', sans-serif;
  font-size: 18px;
}
h1 {
  font-family: 'Preahvihear', sans-serif;
  font-size: 48px;
  color: #3B878F;
  margin-bottom: 20px;
}
h2 {
  font-family: 'Preahvihear', sans-serif;
  font-size: 42px;
  color: #A0589F;
  margin: 72px 0px 40px 67px;
}
h3 {
  font-family: 'Preahvihear', sans-serif;
  font-size: 32px;
  color: #0F2D51; 
}
.bodySmall {
  font-size: 16px;
}
/* nav bar */
.nav-item {
  font-family: 'Krub', sans-serif;
  font-size: 22px;
  color: #0F2D51;
  margin-left: 40px;
}
.nav-link {
  color: #0F2D51 !important;
}
.navbar-brand {
  font-family: 'Preahvihear', sans-serif;
  font-size: 40px;
  color: #0F2D51 !important;
}
.navbar-brand img {
  margin-left: 40px;
  margin-right: 10px;
}
.dropdown-menu {
  border-style: none !important;
  outline: none !important;

}
/* buttons */
.btn-primary {
  background-color: #D24B4E;
  color:#FFFFFF;
  outline: none !important;
  border-style: none;
  box-shadow: 2px 2px 8px gray;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  transform: scale(1.1);
  background-color: #D24B4E !important;
  font-weight: 600;
}
.btn-secondary {
  background-color: #3B878F;
  color:#FFFFFF;
  outline: none !important;
  border-style: none;
  box-shadow: 2px 2px 8px gray;
  transition: all 0.3s ease-in-out;
}
.btn-secondary:hover {
  transform: scale(1.1);
  background-color: #3B878F !important;
  font-weight: 600;
}
.footerButton {
  box-shadow: 2px 2px 8px black !important;
}
/* hero section */
.heroBackground {
    background-color: #EEE7D0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.carousel-item {
    max-width: 565px;
    max-height: 456px;
}
.heroLeft {
  margin-left: 67px;
  margin-right: 60px;
  width: 100%;
}
/* cards */
.card-body {
  background-color: #B1BE52;
}
.card {
  padding: 0;
}
.card-text {
  color: 0F2D51;
  font-weight: bold;
}
.card-group {
  margin: 0px 67px 0px 67px;
}
.card1, .card2 {
  margin: 0px 45px 0px 0px;
}
.card-img-top {
  max-height: 314px;
}
.card-title {
  color: white; 
}
/* image grid css */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 50px 100px 67px
}
.column {
    flex: 50%;
  }
  .column img {
    vertical-align: middle;
  }
/* quick facts */
.thirdSection {
    display: flex;
    flex-direction: row;
}
.thirdSection .row {
  width: 60%;
}
.thirdCopy {
  margin-left: 20px;
  width: 40%;
  margin-right: 67px;
}
.firstcheck {
  margin-top: 5px;
}
.reqitem {
  display:flex; 
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  font-weight: 600;
}
.reqitem1 {
  margin-top: 5px;
}
.reqitem img {
  margin-left: 10px;
}
.reqcopy {
  margin: 15px 20px 10px 10px;
}
.requirements {
  background-color: #F4F3F3;
  margin-right: 67px;
}
.tsbutton {
  margin: 30px 0px 50px 0px;
}
.tsbuttond {
  margin-right: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer */
.footer {
  display: flex;
  flex-direction: row;
  background-color: #0F2D51;
  justify-content: center;
}
.footerh3 {
  color: #B1BE52;
}
.footerLogo {
  margin-left: 20px;
  margin-bottom: 20px;
}
.footerC1,.footerC2,.footerC3,.footerC4 {
  max-width: 360px;
  padding: 40px;
}
.sIcon {
  max-width: 40px;
  padding-left: 15px;
  padding-top: 15px;
}
.mb-2 {
  width: 80px !important;
  margin-left: 0 !important;
}
.form-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-control {
  width: 180px !important;
}
.footer p {
  color: #FFFFFF;
}
.footer a {
  color: #FFFFFF;
}
.footer a:hover {
  text-decoration: underline solid white;
}
.inConclusion {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 995px;
}
@media screen and (max-width: 831px) {
  .footer {
    display: block;
  }
  .card1, .card2 {
    margin-right: 0px;
    margin-bottom: 50px !important;
  }
  .thirdSection {
    display: block;
  }
  .row {
    width: 90% !important;
    margin: 0px 20px 20px 20px;
  }
  .heroBackground {
    display: flex;
    flex-direction: column-reverse;
  }
  .carousel {
    width: 100% !important;
  }
  #carouselExampleControls {
    width: 100vw !important;
  }
  .carousel-item {
    width: 100%; 
    height: 100%;
}
  .navbar-brand {
    font-size: 28px;
    margin-left: 0px !important;
  }
  .newRoommate {
    font-size: 32px;
    margin: 40px 20px 20px 20px;
  }
  .herocopy {
    margin: 0px 20px 20px 20px;
  }
  .herobutton {
    margin: 0px 0px 40px 20px;
  }
  .card-group {
    margin-right: 20px;
    margin-left: 20px;
    display: block;
  }
  h2 {
    margin-left: 20px;
  }
  h1 {
    margin-left: 20px;
  }
  p {
    margin-left: 20px;
  }
  .thirdCopy {
    width: 100%;
    margin-right: 20px !important;
  }
  .thirdCopy li {
    margin-right: 60px !important;
  }
  .thirdCopy p {
    margin-right: 60px !important;
  }

  }

  @media screen and (max-width: 404px) {
    .navbar-brand {
      font-size: 20px;
      margin-left: 0px !important;
    }
    .navbar-brand img {
      max-width: 50%;
      margin-left: 0px !important;
    }
  }





