/* Typography and font size */
p {
  font-family: 'Krub', sans-serif;
  font-size: 20px;
}
li {
  font-family: 'Krub', sans-serif;
  font-size: 20px;
}
h1 {
  font-family: 'Preahvihear', sans-serif;
  font-size: 68px;
  color: #3B878F;
}
h2 {
  font-family: 'Preahvihear', sans-serif;
  font-size: 60px;
  color: #A0589F;
  margin: 100px 0px 64px 67px;
}
h3 {
  font-family: 'Preahvihear', sans-serif;
  font-size: 32px;
  color: #0F2D51; 
}
.bodySmall {
  font-size: 16px;
}
/* nav bar */
.nav-item {
  font-family: 'Preahvihear', sans-serif;
  font-size: 32px;
  color: #B02A37;
}
.nav-link {
  color: #B02A37 !important;
}
.navbar-brand {
  font-family: 'Preahvihear', sans-serif;
  font-size: 68px;
  color: #0F2D51;
}
.dropdown-menu {
  border-style: none !important;
  outline: none !important;

}
/* buttons */
.btn-primary {
  background-color: #D24B4E;
  color:#FFFFFF;
  outline: none !important;
  border-style: none;
  box-shadow: 2px 2px 8px black;
}
.btn-primary:hover {
  background-color: #3B878F;
}
/* hero section */
.heroBackground {
    background-color: #EEE7D0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.carousel {
  max-width: 500px;
  margin-right: 67px;
}
.heroLeft {
  margin-left: 67px;
  margin-right: 20px;
}
/* cards */
.card-body {
  background-color: #B1BE52;
}
.card-text {
  color: 0F2D51;
  font-weight: bold;
}
.card-group {
  margin: 0px 67px 0px 67px;
}
.card1, .card2 {
  margin: 0px 45px 0px 0px;
}
.card-title {
  color: white; 
}
/* image grid css */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 50px 100px 67px
}
.column {
    flex: 50%;
  }
  .column img {
    vertical-align: middle;
  }
/* quick facts */
.thirdSection {
    display: flex;
    flex-direction: row;
}
.thirdSection .row {
  width: 50%;
}
.thirdCopy {
  margin-left: 20px;
  width: 50%;
}
.reqitem {
  display:flex; 
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.reqcopy {
  margin-top: 15px;
  margin-left: 10px;
}
/* footer */
.footer {
  display: flex;
  flex-direction: row;
  background-color: #0F2D51;
  justify-content: center;
}
.footerh3 {
  color: #B1BE52;
}
.footerLogo {
  max-width: 200px;
}
.footerC1,.footerC2,.footerC3,.footerC4 {
  max-width: 360px;
  padding: 40px;
}
.sIcon {
  max-width: 40px;
  padding-left: 15px;
  padding-top: 15px;
}
.mb-2 {
  width: 80px !important;
  margin-left: 0 !important;
}
.form-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-control {
  width: 180px !important;
}
.footer p {
  color: #FFFFFF;
}
.footer a {
  color: #FFFFFF;
}
.footer a:hover {
  text-decoration: underline solid white;
}







